<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>kfc</string>
		<string>ktv</string>
		<string>交通</string>
		<string>保洁</string>
		<string>停车</string>
		<string>健身</string>
		<string>光影</string>
		<string>医疗</string>
		<string>咖啡</string>
		<string>地图</string>
		<string>天气</string>
		<string>安全</string>
		<string>家庭</string>
		<string>小吃</string>
		<string>忧伤</string>
		<string>打车</string>
		<string>投诉</string>
		<string>新闻</string>
		<string>果汁</string>
		<string>水管</string>
		<string>洗车</string>
		<string>火车</string>
		<string>电影</string>
		<string>空调</string>
		<string>笑话</string>
		<string>维修</string>
		<string>美食</string>
		<string>股票</string>
		<string>表单</string>
		<string>运动</string>
		<string>通讯录1</string>
		<string>酒店</string>
		<string>音乐</string>
		<string>飞机</string>
		<string>马桶</string>
		<string>麦当劳</string>
	</array>
	<array>
		<string>kfc选中</string>
		<string>ktv选中</string>
		<string>交通选中</string>
		<string>保洁选中</string>
		<string>停车选中</string>
		<string>健身选中</string>
		<string>光影选中</string>
		<string>医疗选中</string>
		<string>咖啡选中</string>
		<string>地图选中</string>
		<string>天气选中</string>
		<string>安全选中</string>
		<string>家庭选中</string>
		<string>小吃选中</string>
		<string>忧伤选中</string>
		<string>打车选中</string>
		<string>投诉选中</string>
		<string>新闻选中</string>
		<string>果汁选中</string>
		<string>水管选中</string>
		<string>洗车选中</string>
		<string>火车选中</string>
		<string>电影选中</string>
		<string>空调选中</string>
		<string>笑话选中</string>
		<string>维修选中</string>
		<string>美食选中</string>
		<string>股票选中</string>
		<string>表单选中</string>
		<string>运动选中</string>
		<string>通讯录选中1</string>
		<string>酒店选中</string>
		<string>音乐选中</string>
		<string>飞机选中</string>
		<string>马桶选中</string>
		<string>麦当劳选中</string>
	</array>
</array>
</plist>
